.botones{
    justify-content: center;
    display: flex;
}

a {
    color: inherit; /* Hereda el color del texto del elemento padre o especifica cualquier color que desees */
    text-decoration: none; /* Elimina el subrayado */
}